{% extends "base_generic.html" %}

{% block content %}
<h1 class="product_header">Exact Match</h1>
  <form class="search_bar" method="POST" action="{% url 'exactMatch' %}">
    {% csrf_token %}
    <input type="search" placeholder="Search by UUID" name="search">
    <button type="submit"><span>&#10003;</span></button>
  </form>
  {% if search %}
    <div class="user-search">
      Searching for:&#160;<i>{{ search }}</i>
    </div> 
    {% for product in results %}
      <ul class="product_item">
        <a href="">{{product}}</a>
      </ul>
    {% endfor %}
  {% endif %}
{% endblock %}
