{% extends "base_generic.html" %}

{% block content %}
<h1 class="req_header">Search by Requirements</h1>
<form class="req_form" method="POST" action="{% url 'serviceReq' %}">
   {% csrf_token %}
   <div class="option_wrapper">
      <label for="brand_id">Brand</label>
      <select name="brand_id">
         <option value="0">None</option>
         <option value="1">Samsung</option>
         <option value="2">VIZIO</option>
         <option value="3">Sony</option>
         <option value="4">LG</option>
         <option value="5">HiSense</option>
         <option value="6">RCA</option>
         <option value="7">Sceptre</option>
         <option value="8">Toshiba</option>
         <option value="9">SHARP</option>
      </select>
   </div>
   <div class="option_wrapper">
      <label for="productType_id">Product Type</label>
      <select name="productType_id">
         <option value="0">None</option>
         <option value="1">TV</option>
         <option value="2">Monitor</option>
      </select>
   </div>
   <div class="option_wrapper">
      <label for="displayType_id">Display Type</label>
      <select name="displayType_id">
         <option value="0">None</option>
         <option value="2">OLED</option>
         <option value="3">CRT</option>
         <option value="4">TN</option>
         <option value="5">IPS</option>
      </select>
   </div>
   <div class="option_wrapper">
      <label for="minDisplaySize">Minimum Display Size</label>
      <input type="number" placeholder="Inches" name="minDisplaySize" min="0"></input>
   </div>
   <div class="option_wrapper">
      <label for="maxDisplaySize">Maximum Display Size</label>
      <input type="number" placeholder="Inches" name="maxDisplaySize" min="0"></input>
   </div>
   <div class="option_wrapper">
      <label for="deliveryTime">Maximum Delivery Time</label>
      <input type="number" placeholder="Days" name="deliveryTime" min="0"></input>
   </div>
   <div class="option_wrapper">
      <label for="deliveryCharge">Delivery Charge</label>
      <select name="deliveryCharge">
         <option value="none">No</option>
         <option value="no">Yes</option>
      </select>
   </div>
   <div class="option_wrapper">
      <label for="price">Price Limit</label>
      <input type="number" placeholder="USD" name="price" min="0"></input>
   </div>
   <button class="submit_button" type="submit" name="submitRequirements">Submit</button>
</form>
{% if results and hasResults %}
   <div class="user-search" style="margin-bottom: 1em;">Results:</div> 
      {% for product in results %}
         <ul class="product_item">
            <a href="{% url 'productDetail' product.productID %}">{{product}}</a>
         </ul>
      {% endfor %}
{% elif not hasResults %}
   <p style="margin: 1em; text-align: center;">Current query found no products in the library.</p>
{% endif %}
{% endblock %}