.product_header {
   margin: 10px;
}

.search_bar {
   display: flex;
   justify-content: center;
   align-items: center;
}

input {
   width: 25rem;
   padding: 0.5rem;
   border-radius: 0.5em;
   border: 2px solid grey;
}

input:focus {
   outline: none;
   border-color: #0a4abf;
}

.search_bar > button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3em;
   height: 37.6px;
   padding: 0.5rem;
   margin-left: 0.5em;
   background-color: lightgreen;
   cursor: pointer;
   border: none;
   border-radius: 0.5em;
}

.search_bar > button:hover {
   height: 35.6px;
   outline: 2px solid grey;
}

button > span {
   scale: 1.5;
   color: grey;
}

button:hover span {
   color: white;
}

.user-search {
   display: flex;
   justify-content: center;
   margin: 1em;
   margin-bottom: 3em;
   font-size: 12px;
}

.product_item {
   text-align: center;
   color: black;
   font-size: 1em;
   font-weight: bold;
   list-style-type: none;
}

.product_item > a {
   all: unset;
   text-decoration: underline;
}

.product_item > a:hover {
   cursor: pointer;
}