.product_header {
   margin: 1em;
   text-align: center;
}

.product_page_list {
   text-align: center;
   list-style-type: none;
}

.product_page_item {
   font-weight: lighter;
}

.product_page_item > a {
   color: black;
}

.product_page_item > a:hover {
   color: grey;
}