* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;;
}

body {
   background-color: #F5F5F5;
}

.nav {
   padding: 20px;
   background-color: #0a4abf;
   text-align: center;
   border-bottom: 5px solid #f6eb16;
}

.home, .products, .about {
   font-weight: 300;
   font-size: 18px;
   display: inline-block;
   margin-left: 40px;
   margin-right: 40px;;
}

a:active, a:link, a:visited, a:hover {
   text-decoration: none;
   color: white;
}

a:hover {
   color: lightgray;
}