{% extends "base_generic.html" %}

{% block title %}
    <title>Our Best Buy</title>
{% endblock %}
{% block content %}
    <h1 class="title">THE BESTBUY CONS</h1>
    <h2 class="slogan">Ian & Morgan LTD.</h2>
    <h3>Select a searching criterion below:</h3>
    <div class="search-wrapper">
        <button class="search_button"><a href="{% url 'exactMatch' %}">by UUID</a></button>
        <button class="search_button"><a href="{% url 'priorityCrit' %}">Best Match</a></button>
        <button class="search_button"><a href="{% url 'serviceReq' %}">by Requirement</a></button>
    </div>
{% endblock %}


